# Файлы виртуального окружения Python
venv/
.env/

# Скомпилированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы редактора VS Code
.vscode/

# Файлы других редакторов (JetBrains IDEs)
.idea/

# Файлы проекта
favorites.json  # <-- ВАЖНО: Исключаем файл с избранными пользователями
